# Default ignored files
/../../../../../Università/UDULink/hub/hub/.idea/shelf/
/../../../../../Università/UDULink/hub/hub/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../Università/UDULink/hub/hub/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../Università/UDULink/hub/hub/.idea/dataSources/
/../../../../../Università/UDULink/hub/hub/.idea/dataSources.local.xml
